<div class="container my-5">
    
    <div class="row my-2">
        <button class="btn btn-sm btn-primary" routerLink="/users/create">Create</button>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger" [hidden]="!hasError">
                {{ errorMessage }}
            </div>
            <div class="alert alert-success" [hidden]="!success">
                {{ errorMessage }}
            </div>
        </div>
        <div class="col">
            <table class="table table-bordered">
                <thead class="bg-dark text-light">
                    <tr>
                        <th>Id</th>
                        <th width="20%">First name</th>
                        <th width="30%">Last name</th>
                        <th>Email</th>
                        <th>Age</th>
                        <th>Operation</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let p of users">
                        <td>{{ p.id }}</td>
                        <td>{{ p.fname }}</td>
                        <td>{{ p.lname }}</td>
                        <td>{{ p.email }}</td>
                        <td>{{ p.age }}</td>
                        <td>
                            <button class="btn btn-sm btn-primary mr-2" (click)="deleteProduct(p.id)">Edit</button>

                            <button class="btn btn-sm btn-danger mr-2" (click)="deleteProduct(p.id)">Hide</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
